# Node
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/

# Environment Variables
.env
.env.local
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
